*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

hr {
  margin: 0; }

.container {
  width: 100%;
  max-width: 1055px;
  margin: auto; }

/* Header */
.header {
  background: url("../images/home/Header/header-background.jpg") center, no-repeat;
  background-size: cover;
  height: 660px;
  /* Header-intro */ }
  .header .header-navigation {
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Navigation */ }
    .header .header-navigation .header-info {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header .header-navigation .header-info .header-logo {
        font-family: 'Proxima Nova Bold';
        font-size: 28px;
        text-transform: uppercase;
        color: #ffffff;
        margin-right: 25px; }
      .header .header-navigation .header-info .header-vertical {
        font-size: 26px;
        color: #597e7f;
        margin-right: 25px; }
      .header .header-navigation .header-info .header-tel {
        text-decoration: none;
        color: #ffffff;
        font-size: 13px; }
        .header .header-navigation .header-info .header-tel .header-span {
          font-family: 'Montserrat Regular'; }
        .header .header-navigation .header-info .header-tel .tel-icon {
          color: #c1cfcf; }
    .header .header-navigation .nav {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header .header-navigation .nav .nav-link {
        font-family: 'Montserrat Regular';
        text-transform: uppercase;
        font-size: 13px;
        text-decoration: none;
        color: #b8c8c8;
        margin-right: 30px;
        transition: color 0.2s linear; }
        .header .header-navigation .nav .nav-link:hover {
          color: #ffffff; }
      .header .header-navigation .nav .nav-link:last-child {
        margin-right: 0; }
      .header .header-navigation .nav .nav-btn {
        width: 110px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        display: inline-block;
        background-color: #708e8f;
        color: #ffffff;
        border-radius: 2px;
        opacity: 0.65;
        transition: opacity 0.2s linear; }
        .header .header-navigation .nav .nav-btn:hover {
          opacity: 1; }
  .header .header-hr {
    background-color: #51797a;
    height: 1px;
    border: none; }
  .header .header-intro {
    margin-top: 210px; }
    .header .header-intro .intro-title {
      font-family: 'Roboto Regular';
      font-size: 38px;
      color: #ffffff; }
    .header .header-intro .intro-text {
      font-family: 'Roboto Regular';
      margin-top: 10px;
      font-size: 16px;
      line-height: 25px;
      color: #a7b9b9; }
    .header .header-intro .intro-btn {
      display: inline-block;
      width: 186px;
      height: 50px;
      line-height: 50px;
      background-color: #6fb048;
      border-radius: 2px;
      text-decoration: none;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      font-family: 'Montserrat Regular';
      font-size: 14px;
      margin-top: 20px;
      transitioN: background-color 0.2s linear; }
      .header .header-intro .intro-btn:hover {
        background-color: #58a728; }

/* Our features */
.section-header {
  margin: 95px auto 0;
  text-align: center; }
  .section-header .section-title {
    font-family: 'Roboto Light';
    font-size: 32px;
    color: #0f5f5c; }
  .section-header .section-hr {
    margin: 20px auto;
    border: none;
    width: 65px;
    height: 1px;
    background-color: #6fb048; }
  .section-header .section-text {
    font-family: 'Roboto Regular';
    font-size: 15px;
    color: #83a7a5; }

.features-1-items {
  display: flex;
  justify-content: space-between;
  margin-top: 70px; }
  .features-1-items .feature-1-item {
    text-align: center;
    width: 31%; }
    .features-1-items .feature-1-item .feature-1-img {
      height: 60px; }
    .features-1-items .feature-1-item .feature-1-title {
      font-family: 'Roboto Regular';
      font-size: 16px;
      color: #0f5f5c;
      margin: 25px 0 20px; }
    .features-1-items .feature-1-item .feature-1-text {
      font-family: 'Roboto Regular';
      font-size: 14px;
      color: #83a7a5; }

.delimitation {
  text-align: center;
  margin: 35px 0 0; }

.features-2-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 125px; }
  .features-2-items .feature-2-item {
    width: 47%; }
    .features-2-items .feature-2-item .feature-2-title {
      display: flex;
      align-items: center;
      height: 40px;
      margin: 55px 0 20px; }
      .features-2-items .feature-2-item .feature-2-title .feature-2-title-img {
        margin-right: 20px; }
      .features-2-items .feature-2-item .feature-2-title .feature-2-title-text {
        font-family: 'Roboto Regular';
        font-size: 16px;
        color: #0f5f5c; }
    .features-2-items .feature-2-item .feature-2-text {
      font-family: 'Roboto Regular';
      font-size: 14px;
      color: #83a7a5; }

/* Perfect template */
.template {
  background-color: #eef1ec;
  padding-top: 55px; }
  .template .template-header {
    margin-top: 0px; }
  .template .template-items {
    width: 100%;
    max-width: 1000px;
    margin: 25px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .template .template-items .template-item {
      margin-right: 90px; }
      .template .template-items .template-item .template-phone {
        displaY: block; }
      .template .template-items .template-item .template-title {
        font-family: 'Roboto Light';
        font-size: 32px;
        color: #0f5f5c; }
      .template .template-items .template-item .template-text {
        margin: 15px 0 20px;
        font-family: 'Roboto regular';
        font-size: 14px;
        line-height: 22px;
        color: #a4bcba; }
      .template .template-items .template-item .enter {
        font-family: 'Roboto regular';
        font-size: 14px;
        color: #a4bcba; }
        .template .template-items .template-item .enter .enter-item {
          display: flex;
          align-items: center;
          height: 26px; }
          .template .template-items .template-item .enter .enter-item .enter-icon {
            margin-right: 10px; }
    .template .template-items .template-item:last-child {
      margin-right: 0px; }

/* Review */
.review {
  padding: 140px 0; }
  .review .review-items {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .review .review-items .review-item-1 {
      width: 500px; }
    .review .review-items .review-text {
      font-family: 'Merriweather Light';
      font-size: 22px;
      line-height: 40px;
      color: #83a7a5; }
    .review .review-items .review-name {
      margin-top: 15px;
      font-family: 'Roboto Medium';
      font-size: 14px;
      color: #6fb048; }
    .review .review-items .review-post {
      margin-top: 5px;
      font-family: 'Roboto regular';
      font-size: 14px;
      color: #83a7a5; }

/* About */
.about {
  background: url("../images/home/about/about-background.jpg") center, no-repeat;
  background-size: cover;
  height: 505px;
  padding: 175px 0; }
  .about .about-item {
    width: 500px; }
    .about .about-item .about-title {
      font-family: 'Roboto Light';
      font-size: 32px;
      color: #0f5f5c; }
    .about .about-item .about-text {
      margin-top: 15px;
      font-family: 'Roboto Regular';
      font-size: 14px;
      line-height: 24px;
      color: #83a7a5; }

/* Pricing */
.pricing-content {
  text-align: center;
  padding-top: 90px; }
  .pricing-content .section-headerr {
    text-align: center; }
    .pricing-content .section-headerr .section-header__title {
      font-family: 'Roboto Light';
      font-size: 32px;
      color: #0f5f5c; }
    .pricing-content .section-headerr .section-header__hr {
      margin: 20px auto;
      border: none;
      width: 65px;
      height: 1px;
      background-color: #6fb048; }
    .pricing-content .section-headerr .section-header__text {
      font-family: 'Roboto Regular';
      font-size: 15px;
      color: #83a7a5; }
  .pricing-content .column-item-wrap {
    display: flex;
    justify-content: center;
    margin-top: 40px; }
    .pricing-content .column-item-wrap .pricing-block {
      border: 1px #c1d3d2 solid;
      height: 358px;
      width: 253px; }
      .pricing-content .column-item-wrap .pricing-block .pricing-block__title {
        margin: 25px 0 10px;
        font-family: 'Roboto Medium';
        text-transform: uppercase;
        font-size: 15px;
        color: #6fb048; }
      .pricing-content .column-item-wrap .pricing-block .pricing-block__price {
        margin-bottom: 15px; }
        .pricing-content .column-item-wrap .pricing-block .pricing-block__price .pricing-block__value {
          font-family: 'Montserrat Regular';
          color: #0f5f5c;
          font-size: 65px;
          line-height: 65px;
          font-weight: 900; }
        .pricing-content .column-item-wrap .pricing-block .pricing-block__price .pricing-block__month {
          font-family: 'Roboto Regular';
          font-size: 14px;
          color: #0f5f5c;
          font-weight: 700; }
      .pricing-content .column-item-wrap .pricing-block .pricing-block__text {
        font-family: 'Roboto Regular';
        font-size: 14px;
        line-height: 28px;
        color: #597e7f; }
      .pricing-content .column-item-wrap .pricing-block .pricing-block__btn {
        display: inline-block;
        text-decoration: none;
        margin-top: 25px;
        width: 140px;
        height: 42px;
        background-color: #6fb048;
        color: #ffffff;
        text-transform: uppercase;
        font-family: 'Montserrat Regular';
        font-size: 13px;
        line-height: 42px;
        border-radius: 2px;
        transition: background-color 0.2s linear; }
        .pricing-content .column-item-wrap .pricing-block .pricing-block__btn:hover {
          background-color: #58a728; }
    .pricing-content .column-item-wrap .pricing-block-2 {
      border-right: none;
      border-left: none; }

/* Plans */
.plans-header {
  text-align: center;
  margin-top: 80px; }
  .plans-header .plans-header__title {
    font-family: 'Roboto Light';
    font-size: 32px;
    color: #0f5f5c; }
  .plans-header .plans-header__hr {
    margin: 20px auto 0;
    border: none;
    width: 65px;
    height: 1px;
    background-color: #6fb048; }

.plan-blocks {
  display: flex;
  justify-content: space-between;
  margin-top: 34px; }
  .plan-blocks .plan-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 26px; }
    .plan-blocks .plan-info .plan-info__img {
      margin-right: 10px; }
    .plan-blocks .plan-info .plan-info__text {
      font-family: 'Roboto Regular';
      font-size: 14px;
      color: #597e7f; }

/*# sourceMappingURL=index.css.map */
