*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1055px;
    margin: auto;
}
/* Header */
.header {
    background: url('../images/home/Header/header-background.jpg') center, no-repeat;
    background-size: cover;
    height: 660px;

    .header-navigation {
        height: 84px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header-logo {
                font-family: 'Proxima Nova Bold';
                font-size: 28px;          
                text-transform: uppercase;
                color: #ffffff;
                margin-right: 25px;
            }

            .header-vertical {
                font-size: 26px;
                color: #597e7f;
                margin-right: 25px;
            }

            .header-tel {
                text-decoration :none;
                color: #ffffff;
                font-size: 13px;

                .header-span {
                    font-family: 'Montserrat Regular';
                }

                .tel-icon {
                    color: #c1cfcf;
                }
            }
        }
/* Navigation */
        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav-link {
                font-family: 'Montserrat Regular';
                text-transform: uppercase;
                font-size: 13px;
                text-decoration: none;
                color: #b8c8c8;
                margin-right: 30px;
                transition: color 0.2s linear;

                &:hover {
                    color: #ffffff;
                }
            }

            .nav-link:last-child {
                margin-right: 0;
            }

            .nav-btn {
                width: 110px;
                height: 32px;
                line-height: 32px;
                text-align: center; 
                display: inline-block;
                background-color: #708e8f;
                color: #ffffff;
                border-radius: 2px;
                opacity: 0.65;
                transition: opacity 0.2s linear;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .header-hr {
        background-color: #51797a;
        height: 1px; 
        border: none;
    }
/* Header-intro */
    .header-intro {
         margin-top: 210px;

        .intro-title {
            font-family: 'Roboto Regular';
            font-size: 38px;
            color: #ffffff;
        }

        .intro-text {
            font-family: 'Roboto Regular';
            margin-top: 10px;
            font-size: 16px;
            line-height: 25px;
            color: #a7b9b9;
        }

        .intro-btn {
            display: inline-block;
            width: 186px;
            height: 50px;
            line-height: 50px;
            background-color: #6fb048;
            border-radius: 2px;
            text-decoration: none;
            text-transform: uppercase;
            color: #ffffff;
            text-align: center;
            font-family: 'Montserrat Regular';
            font-size: 14px;
            margin-top: 20px;
            transitioN: background-color 0.2s linear;

            &:hover {
                background-color: #58a728;
            }
        }
    }
}
/* Our features */
.section-header {
    margin: 95px auto 0;
    text-align: center;

    .section-title {
        font-family: 'Roboto Light';
        font-size: 32px;
        color: #0f5f5c;
    }

    .section-hr {
        margin: 20px auto;
        border: none;
        width: 65px;
        height: 1px;
        background-color: #6fb048;
    }

    .section-text {
        font-family: 'Roboto Regular';
        font-size: 15px;
        color: #83a7a5;
    }
}

.features-1-items {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;

    .feature-1-item {
        text-align: center;
        width: 31%;

        .feature-1-img {
            height: 60px;
        }

        .feature-1-title {
            font-family: 'Roboto Regular';
            font-size: 16px;
            color: #0f5f5c;
            margin: 25px 0 20px;
        }

        .feature-1-text {
            font-family: 'Roboto Regular';
            font-size: 14px;
            color: #83a7a5;
        }
    }
}

.delimitation {
    text-align: center;
    margin: 35px 0 0;
}

.features-2-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 125px;

    .feature-2-item {
        width: 47%;

        .feature-2-title {
            display: flex;
            align-items: center;
            height: 40px;
            margin: 55px 0 20px;

            .feature-2-title-img {
                margin-right: 20px;
            }

            .feature-2-title-text {
                font-family: 'Roboto Regular';
                font-size: 16px;
                color: #0f5f5c;
            }   
        }

        .feature-2-text {
            font-family: 'Roboto Regular';
            font-size: 14px;
            color: #83a7a5;
        }
    }
}
/* Perfect template */
.perfect-template {
    background-color: #eef1ec;
    padding-top: 1px;
    height: 665px;

    .perfect-template-header {
        margin-top: 55px;
    }

    .perfect-template-items {
        width: 100%;
        max-width: 1000px;
        margin: 25px auto 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .perfect-template-item {
            margin-right: 90px;

            .perfect-template-title {
                font-family: 'Roboto Light';
                font-size: 32px;
                color :#0f5f5c;
            }

            .perfect-template-text {
                margin: 15px 0 20px;
                font-family: 'Roboto regular';
                font-size: 14px;
                line-height: 22px;
                color: #a4bcba;
            }

            .equipment {
                font-family: 'Roboto regular';
                font-size: 14px;
                color: #a4bcba;

                .equipment-item {
                    display: flex;
                    align-items: center;
                    height: 26px;

                    .perfect-template-icon {
                        margin-right: 10px;
                    }
                 }
            }
        }

        .perfect-template-item:last-child {
            margin-right: 0;
        }
    }
}